<!--<ion-header>
  <ion-toolbar>
    <ion-title>grilla</ion-title>
    <img>
    <img>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="grilla-superior">
    <ion-grid style="height: 100%;">
      <ion-row style="height: 100%;">
        <ion-col size="7" class="col-izq">
          <h2 class="titulo-plant">PLANTAS</h2>
          <div class="imagenes-grilla1">
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
          </div>
        </ion-col>
        <ion-col size="5" class="col-der">
          <img src="../../assets/imgs/logo_sinfondo.png" height="200">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <hr color="grey" size="3">

  <div class="grilla-media">
    <ion-buttons>
      <ion-button fill="solid" color="success" shape="round">POPULAR</ion-button>
      <ion-button fill="solid" color="success" shape="round">PERSONAL</ion-button>
      <ion-button fill="solid" color="success" shape="round">TODAS</ion-button>
    </ion-buttons>
  </div>
  <div class="grilla-inferior">
   <ion-grid>
     <ion-row class="one" #one>
       <ion-col>
        <ion-card>
          <img src="../../assets/imgs/phomeCACTUS.png">
          <ion-card-header>
            <ion-card-title class="titulo-card"><label> {{nombregrilla}}</label></ion-card-title>
          </ion-card-header>
        </ion-card>
       </ion-col>
       <!--
       <ion-col>
        <ion-card>
          <img src="../../assets/imgs/phomeCENTRAL.png">
          <ion-card-header>
            <ion-card-title class="titulo-card"><label> {{nombregrilla}}</label></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
     </ion-row>
     <ion-row class="segunda-fila">
      <ion-col>
        <ion-card>
          <img src="../../assets/imgs/phomeLUZ.png">
          <ion-card-header>
            <ion-card-title class="titulo-card"><label> {{nombregrilla}}</label></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/imgs/phomeSOMBRA.png">
          <ion-card-header>
            <ion-card-title class="titulo-card"><label> {{nombregrilla}}</label></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="tercera-fila">
      <ion-col>
        <ion-card>
          <img src="../../assets/imgs/phomeX.png">
          <ion-card-header>
            <ion-card-title class="titulo-card"><label> {{nombregrilla}}</label></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/imgs/phomeX2.png">
          <ion-card-header>
            <ion-card-title class="titulo-card"><label> {{nombregrilla}}</label></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      -->
    </ion-row>
   </ion-grid> 
  </div>
</ion-content>
