<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendario">
      <ion-icon color="light" name="calendar-number"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="grilla">
      <ion-icon color="light" name="leaf"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon color="light" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon color="light" name="cloudy"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon color="light" name="cog"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
