<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{tittle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item (click)="selectCactus()">
        <img src="../../../assets/imgs/phomeCACTUS.png" alt="">
        <ion-label>Cactus</ion-label>
      </ion-item>
      <ion-item (click)="selectCustom()">
        <img src="../../../assets/imgs/phomeCENTRAL.png" alt="">
        <ion-label>Custom</ion-label>
      </ion-item>
      
    </ion-list>
  </div>
  
</ion-content>
