.header{
    width: 100%;
    height: 15%;
    background-color: #16a045;
    position: absolute;

}
.header2{
    width: 100%;
    height: 30%;
    top: 15%;
    background-color: black;
    position: absolute;

}
.logo{
    position: relative;
    width: 100%;
    //height: 50%;
    margin-top: -8%;
    text-align: center;
    img{
        width: 100%;
        height: auto;
    }
}
.principal{
    width: 75%;
    margin: -5% 15% 0px;
    .mailicon{
        display: inline-block !important;
        margin-bottom: 5px;
        color: #16a045;
        //width: 20%;
        height: 25px;
        width: 25px;
    }
    .mail{
        //position: relative;
        display: inline-block !important;
        width: 85%;
    }
    .passIcon{
        display: inline-block !important;
        margin-bottom: 5px;
        color: #16a045;
        //width: 20%;
        height: 25px;
        width: 25px;
    }
    .contra{
        position: relative;
        display: inline-block !important;
        width: 85%;
        #seeIcon{
            position: absolute;
            right: 0px;
            bottom: 3px;
            z-index: 10;
        }
    }
    
}
.boton_centrado{
    text-align: center;
    margin-top: 5%;
    display: block;
    button{
        display: block;
        margin: 0 auto 5%;
    }
    a{
        display: block;
        margin-bottom: 5%;
    }
    ion-button{
        width: 50%;
        margin: 5% 25%;
    }
    button{
        width: 50%;
        height: 50px;
        border-radius: 25px;
        background-color: #16a045;
        color: white;
        font-weight: bold;
    }
}
.footer{
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0px;
    background-color: #16a045;
}