<ion-header>
  <ion-toolbar class="toolbar-home">
    <ion-buttons slot="start" class="salir-home">
      <ion-button (click)="back()"><ion-icon color="light" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="toolbar-logo"><img style="height: 40px;" alt="logo" src="assets/imgs/logo_sinfondo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 style="font-weight: bold; text-align: center; margin-top: 10%;">{{titulo}}</h4>
  <ion-item class="mail">
    <ion-label position="floating">{{userlabel}}</ion-label>
    <ion-input [(ngModel)]="mail"></ion-input>
  </ion-item>
  <div class="boton_centrado">
    <button class="ingresar-b"(click)="fp_send()">{{sendlabel}}</button>
  </div>
</ion-content>
