<ion-header>
  <ion-toolbar class="toolbar-home">
    <ion-buttons slot="start">
      <ion-button style="color: white;" (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="toolbar-logo"><img style="height: 40px;" alt="logo" src="../../../assets/imgs/logo_sinfondo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>{{tittle}}</h4>
  <ion-item class="nombre">
    <ion-label position="floating">{{label1}}</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <div class="boton_centrado">
    <button class="ingresar-b" (click)="next()">{{button}}</button>
  </div>
</ion-content>
