<ion-header>
  <ion-toolbar class="toolbar-home">
    <ion-buttons slot="start" class="salir-home">
      <ion-button (click)="back()" style="color: white;"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="toolbar-logo"><img style="height: 50px;" alt="logo" src="assets/imgs/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 style="font-weight: bold; text-align: center; margin-top: 10%;">{{tittle}}</h4>

  <div>
    <h6 style="font-weight: bold; text-align: center; margin-top: 5%;">{{label1}}</h6>
    <ion-item>
      <ion-input id="email" disabled></ion-input>
    </ion-item>
    <h6 style="font-weight: bold; text-align: center; margin-top: 5%;">{{label2}}</h6>
    <ion-item>
      <ion-input id="creationTime" disabled></ion-input>
    </ion-item>
    <h6 style="font-weight: bold; text-align: center; margin-top: 5%;">{{label3}}</h6>
    <ion-item>
      <ion-input id="lastSign" disabled></ion-input>
    </ion-item>
  </div>
</ion-content>
